.homework {
  padding: 110px 0 30px;
  width: 70vw;
  margin: 0 auto;
  overflow: auto;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  .table {
    font-weight: normal;
    background-color: #358d54;
    color: #fff;
    input {
      width: 25px;
      height: 25px;
      margin: 5px;
    }
    .title1 {
      font-size: 1.2em;
      border-bottom: 1px solid #fff;
      th {
        height: 60px;
        line-height: 60px;
      }
    }
    .title2 {
      font-size: 1.2em;
      height: 80px;
      border-bottom: 1px solid #fff;
      th {
        line-height: 80px;
        img {
          width: 40px;
          height: 40px;
          transform: translateY(20px);
          margin-right: 10px;
        }
      }
    }
    .title3,
    .title8,
    .title16,
    .title24 {
      font-size: 1.2em;
      height: 60px;
      padding-bottom: 20px;
    }
    .title24 {
      height: 100px;
    }
    .title3 {
      height: 60px;
    }
    .title22,
    .title23 {
      font-size: 1.2em;
      height: 40px;
    }
    .title4 {
      font-size: 1.2em;
      height: 60px;
    }
    .title5,
    .title6,
    .title9,
    .title10,
    .title11,
    .title12,
    .title13,
    .title14,
    .title15,
    .title17,
    .title18,
    .title19,
    .title20,
    .title21 {
      height: 50px;
    }
    .title24 {
      border: none;
      height: 58px;
    }
    .title3,
    .title23 {
      border-bottom: 1px solid #fff;
    }
    .title8,
    .title16,
    .title22 {
      border-top: 1px solid #fff;
    }
    .title7,
    .title15,
    .title21 {
      height: 60px;
      th,
      td {
        padding-bottom: 20px;
      }
    }
    .category {
      white-space: pre-wrap;
      width: 10vw;
      .title4,
      .title5,
      .title6,
      .title7,
      .title8,
      .title9,
      .title10,
      .title11,
      .title12,
      .title13,
      .title14,
      .title15,
      .title16,
      .title17,
      .title18,
      .title19,
      .title20,
      .title21,
      .title24 {
        text-align-last: left;
        th {
          padding-left: 3vw;
        }
      }
      .title5 {
        background: url(../images/category01.png) no-repeat 1vw 50% / 30px;
      }
      .title6 {
        background: url(../images/category02.png) no-repeat 1vw 50% / 30px;
      }
      .title7 {
        background: url(../images/category03.png) no-repeat 1vw 25% / 30px;
      }
      .title8 {
        background: url(../images/category04.png) no-repeat 0.8vw 50% / 35px;
      }
      .title9 {
        background: url(../images/category05.png) no-repeat 1vw 50% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title10 {
        background: url(../images/category06.png) no-repeat 1vw 50% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title11 {
        background: url(../images/category07.png) no-repeat 1vw 50% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title12,
      .title13 {
        background: url(../images/category08.png) no-repeat 1vw 50% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title14 {
        background: url(../images/category09.png) no-repeat 1vw 50% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title15 {
        background: url(../images/category09.png) no-repeat 1vw 15% / 40px;
        th {
          padding-left: 4vw;
        }
      }
      .title16 {
        background: url(../images/category10.png) no-repeat 1vw 50% / 30px;
      }
      .title24 {
        background: url(../images/category12.png) no-repeat 1vw 50% / 30px;
        th {
          height: 60px;
        }
      }
    }
    .characters {
      width: 120vw;
      margin: 0;
      thead {
        width: 20vw;
        tr {
          width: 500px;
        }
        .title1 {
          font-size: 1.4em;
          font-weight: bold;
        }
        .title3 {
          font-size: 1.2em;
          color: #ad0101;
        }
      }
      .title24 {
        height: 45px;
      }
    }
  }
  .left {
    border-right: 1px solid #fff;
  }
  .right {
    border-left: 1px solid #fff;
    overflow: auto;
  }
  .weeklyReset {
    position: absolute;
    padding: 5px;
    top: 315px;
    left: calc(50% - 100px);
    width: 200px;
    background-color: #a6c779;
    color: #215533;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 15px;
    transition: 0.2s;
    cursor: pointer;
    &:hover {
      scale: 0.9;
    }
  }
}
